<h1>Welcome to the Online Farmers Market!</h1>

<% @listings.each do |listing| %>
    <h3> <%= listing.name %></h3>
    <h5> <%= listing.category.name %></h5>
    <p><%= listing.description %></p>

    <%= link_to "View", listing_path(listing) %>

    <% if user_signed_in? && current_user.id == listing.user.id %>
        <%= link_to "Edit", edit_listing_path(listing) %>
        <%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>

<% end %>