<div class="container-fluid align-items-center d-flex flex-column">
  <h1>What are you hungry for?</h1>
  <%= form_with(method: 'get', url: listings_path, scope: :search, local: true) do |f|%>
    <%= f.label :name, class: 'text-uppercase' %>
    <%= f.text_field :name %>
    <%= f.label :category_id, class: 'text-uppercase' %>
    <%= f.select :category_id, @categories.map {|c| [c.name, c.id] }, :include_blank => true %>
    <%= f.submit "Search" %>
  <% end %>
  <div class="container d-flex listings-container">
    <div class="row d-flex flex-row mt-1 mb-1">
      <% @listings.each do |listing| %>
        <div class=" col d-flex flex-column mt-3 mb-3 listing-wrapper shadow-lg p-3 mb-5 rounded">
          <div class="row d-flex flex-row align-items-center flex-wrap">
            <div class="col-7 d-flex flex-column align-items-start">
              <h3> <%= listing.name %></h3>
            </div>
            <div class="col d-flex flex-column align-items-end">
              <h6 class="label label-inverse"> <%= listing.category.name %></h5>
            </div>
          </div>
          <p><%= listing.description %></p>
          <% if listing.image.attached? %>
            <div class="listing-image">
              <%= image_tag url_for(listing.image), width: '250px', class: "shadow-sm mt-3 mb-3 rounded" %>
            </div>
          <% end %>
          <div class="row listings-buttons">
            <% if user_signed_in? && current_user.id == listing.user.id %>
              <div class="col d-flex flex-column">
                <%= link_to "View", listing_path(listing), class: "btn btn-primary text-white" %>
              </div>
              <div class="col d-flex flex-column">
                <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-secondary text-white" %>
              </div>
              <div class="col d-flex flex-column">
                <%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger text-white" %>
              </div>
            <% else %>
              <div class="col d-flex flex-column justify-content-center">
                <%= link_to "View", listing_path(listing), class: "btn btn-primary text-white" %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
