
    <h3> <%= @listing.name %></h3>
    <h5>Category: <%= @listing.category %></h5>
    <h5>Price: <%= @listing.price %></h5>
    <% if @listing.image_filename %>
        <%= image_tag "/images/#{@listing.image_filename}", width: '250px' %>
    <% end %>
    <p><%= @listing.description %></p>

<!-- only let the user who created the listing edit and delete it -->
<% if user_signed_in? && current_user.id == @listing.user.id %>
    <%= link_to "Edit", edit_listing_path(@listing) %>
    <%= link_to "Delete", listing_path(@listing), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>


