<nav class="navbar navbar-expand-md sticky-top">
  <div class= "container-fluid">
    <%= link_to 'Buy, sell & eat!', root_path, class: "brand" %>
    <ul class="navbar-nav mr-5-lg">
      <li class="nav-item nav-link">
        <%= link_to 'Home', listings_path %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item nav-link">
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to 'Add listing', new_listing_path %>
        </li>
      <% else %>
        <li class="nav-item nav-link">
          <%= link_to 'Log in', new_user_session_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
    </div>
  </ul>
</nav>
