<div class="container">
  <div class="center-wrapper">
    <h2>Log in</h2>
    <p class="m-0">Example login for testing:</p>
    <p class="m-0"><i>Email: admin@admin.com</i></p>
    <p class="m-0 mb-2"><i>Password: password</i></p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions d-flex flex-column justify-content-center">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
